<!DOCTYPE html>
<html>
        <head>
            <title>about</title>
                <link rel="stylesheet" href="c1.css">
                <style>
    body{
    color:orange;
    font-family:Arial, Helvetica, sans-serif;
    max-width:650px;
    margin:0 auto;
    padding: 0 16px;
   background-image:url("C:\Users\sonali.jagtap\Desktop\node_course\node-app\webserver\public\img\c4.jpg");

}
footer
{
    background-color: greenyellow;
    padding: 10px;
    margin:16px;
    border-top: 1px solid rgb(226, 43, 144)

}
header{
    margin-top:16px;
    margin-bottom: 48px;


}
h1{
    font-size:48px;
}
header a{
    color:burlywood;
    margin-right:16px;
    text-decoration: none;



}


</style>
                </head> 
    <body>
    
        <h1>Welcome to About page!!!</h1>
            {{>header}}
                 {{>footer}}

    </body>
</html>