<!DOCTYPE html>
<html>
        <head>
            <title>Help</title>
                <link rel="stylesheet" href="c1.css">
                <style>
    body{
    color:orange;
    font-family: Arial, Helvetica, sans-serif;
    max-width:650px;
    margin:0 auto;
    padding: 0 16px;
   

}
footer
{
    background-color: greenyellow;
    padding: 10px;
    margin:16px;
    border-top: 1px solid rgb(226, 43, 144)

}
header{
    margin-top:16px;
    margin-bottom: 48px;


}
h1{
    font-size:48px;
}
header a{
    color:burlywood;
    margin-right:16px;
    text-decoration: none;



}


</style>
                </head> 
    <body>
         
        <h1>Welcome to Helppage!!!{{msg}}</h1>
        {{>header}}
        <img src="./c4.jpg">
        {{>footer}}
    </body>
</html>
